[submodule "tutorials/zed_gnss_tutorial/src/submodules/nmea_navsat_driver"]
	path = tutorials/zed_gnss_tutorial/src/submodules/nmea_navsat_driver
	url = https://github.com/ros-drivers/nmea_navsat_driver.git
	branch = ros2
